.circle {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 100px; /* Размер кружка */
    height: 100px; /* Размер кружка */
    background-color: #000;
    border-radius: 50%;
    margin-bottom: 8px; /* Отступ между кружком и текстом */
}

.circle img {
    display: block;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    border-radius: 50%;
}

li.relative {
    position: relative;
    margin-bottom: 20px; /* Отступ между элементами списка */
}

.cost-delivery-list {
    display: flex;
    justify-content: center;
}

.cost-delivery-list > div {
    border: none;
    box-shadow: none;
    background-color: #FFFFFF;
    border-radius: 8px 8px 0 0;
    flex: 1;
}

.cost-delivery-list > div:first-child {
    border-radius: 8px 0 0 8px;
}

.cost-delivery-list > div:last-child {
    border-radius: 0 8px 8px 0;
}

.wider-left {
    margin-left: -20px;
}

.wider-right {
    margin-right: -20px;
}



