.circle {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 100px; /* Размер кружка */
    height: 100px; /* Размер кружка */
    background-color: #000;
    border-radius: 50%;
    margin-bottom: 8px; /* Отступ между кружком и текстом */
}

.circle img {
    display: block;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    border-radius: 50%;
}

li.relative {
    position: relative;
    margin-bottom: 20px; /* Отступ между элементами списка */
}
.order_steps_section {
    padding: 30px 20px 30px;
}

.order_steps_list1 .step_item {
    float: left;
    margin: 0 10px 12px 0;
    padding: 23px 20px 0 30px;
    width: 215px;
    height: 140px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background: #f5f5f5;
    -webkit-box-shadow: 0 2px 0 #d9d9d9;
    -moz-box-shadow: 0 2px 0 #d9d9d9;
    box-shadow: 0 2px 0 #d9d9d9;
    position: relative;
}

.dark_theme .order_steps_list1 .step_item {
    background: #fff;
    -webkit-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.3);
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.3);
    color: #333;
}

.order_steps_list1 .step_item:nth-child(even) {
    margin: 0 0 11px;
}

.order_steps_list1 .step_item:before {
    display: block;
    content: '';
    width: 32px;
    height: 32px;
    background: center no-repeat;
    position: absolute;
    top: 19px;
    right: 19px;
}

/*.order_steps_list1 .step_item:nth-child(1):before {*/
/*}*/

/*.order_steps_list1 .step_item:nth-child(2):before {*/
/*}*/

/*.order_steps_list1 .step_item:nth-child(3):before {*/
/*}*/

/*.order_steps_list1 .step_item:nth-child(4):before {*/
/*}*/

.order_steps_list1 .step_item h4 {
    margin: 0 0 7px;
    font-weight: 700;
    text-transform: uppercase;
}

.order_steps_list1 .step_item h4:after {
    display: block;
    content: '';
    margin: 12px 0 0;
    width: 30px;
    height: 2px;
    background: #e6e6e6;
}

